.icon-menu {
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    width: var(--zooduck-icon-size);
    height: var(--zooduck-icon-size);
    background-color: var(--zooduck-icon-background-color);
    padding: 10%;
}
.icon-menu__bar {
    background-color: var(--zooduck-icon-color);
    height: calc(var(--zooduck-icon-size) / 5 - 20%);
}
